@import '~Scss/utils/fonts';
@import '~Scss/config';
@import '~Scss/reset';
@import '~Scss/ui';

html {
	color: $color-font--main;
	font-size: $font-size--main;


	@include mq(1750px, max) {
		font-size: 14px;
	}

	@include mq(1500px, max) {
		font-size: 12px;
	}

	@include mq(1250px, max) {
		font-size: 10px;
	}

	@include mq(1050px, max) {
		font-size: 8px;
	}
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;

	font-weight: $font-weight--main;
	font-size: $font-size--main;
	font-family: $font--main;

	background-color: #1e5581;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}
