@import '~Scss/config';

.gallery-info {
	display: flex;
	flex-direction: column;

	padding: 135px 110px 0 80px;

	color: #fff;

}

.title {
	margin-bottom: 25px;

	font-size: 64px;
	line-height: 94px;
	letter-spacing: 0.015em;
}

$article-gap: 30px;

.article {
	margin: -1 * $article-gap 0 -1 * $article-gap 0;

	font-size: 16px;
	line-height: 24px;

	&__paragraph {
		margin: $article-gap 0 $article-gap 0;

	}
}

