@import '~Scss/config';

.gallery-info {
	margin-bottom: 6%;

	padding: 12.3% 0 0 7.3%;

	color: #fff;

}

.title {
	margin-bottom: 2.26%;

	font-size: 64px;
	line-height: 94px;
	letter-spacing: 0.015em;
}

$article-gap: 30px;

.article {
	overflow-y: auto;

	font-size: 16px;
	line-height: 24px;

	&__paragraph {
		margin-bottom: 30px;
	}

	&__paragraph:last-of-type {
		margin-bottom: 0;
	}
}

$icons-gap: 11.5px;

.scroll-icons {
	display: inline-flex;
	align-self: center;
	margin: 0 -1 * $icons-gap 7.6% -1 * $icons-gap;

	.icon {
		margin: 0 $icons-gap 0 $icons-gap;
	}
}
