.homepage {
	position: relative;

	min-height: 1080px;

	background: #1e5581 url('~Images/landscape.png') no-repeat scroll center center;
	background-size: 100% 100%;
}

.mountain {
	position: absolute;
}

.lyavochorr {
	top: 2.31%;
	left: 52.44%;
}

.chasnachorr {
	top: 21.85%;
	left: 22.76%;
}

.fersmana {
	top: 36.85%;
	left: 14.74%;
}

.udichvymchorr {
	top: 36.85%;
	left: 29.43%;
}

.kykisvymchorr {
	top: 27.31%;
	left: 41.35%;
}

.tahtarvymchorr {
	top: 51.02%;
	left: 33.13%;
}

.vudiavrchorr {
	top: 71.39%;
	left: 31.25%;
}

.aikyivenchorr {
	top: 75.37%;
	left: 49.53%;
}
