extends ../../pug/layout/main

block variables
  - const title = 'Хибины';
  - const description = 'Хибины - крупнейший горный массив на Кольском полуострове.';
  - const pageClass = 'index-page';

block content
  .root